# настройка API F-A
F_A_True = True
F_A_SERVERS_COUNT=38 # количество узлов
F_A_BOARDS_COUNT=16 # количество полу-плат
F_A_PROTOCOL=http
F_A_IP=127.0.0.1
F_A_PORT=8080
F_A_PATH=""

# настройка API F-B
F_B_True = False
F_B_PROTOCOL=http
F_B_IP=127.0.0.1
F_B_PORT=8080
F_B_PATH=""

# общие
DEBUG = True
TIMER = 5